automation/workflows/ticket-automation-phase4-call-backend-classification.json
{
  "name": "ticket-automation-phase4-call-backend-classification.json",
  "nodes": [
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/tickets?id=eq.{{$node[\"Ticket Created Trigger\"].json.body.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "priority",
              "value": "={{$json.priority}}"
            },
            {
              "name": "category",
              "value": "={{$json.category}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "b4b693a3-ee24-47e1-863d-e0d98ecede67",
      "name": "Update Ticket (PATCH)",
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "Knvgz3bkwhepZsRn",
          "name": "auth supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{\n(() => {\n  const item = $json.body ?? {}\n\n  const created = item.created_at\n    ? new Date(item.created_at)\n    : null\n\n  return Object.assign({}, item, {\n    execution_finished_at: $now,\n    latency_ms: created\n      ? Date.now() - created.getTime()\n      : null\n  })\n})()\n}}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -176
      ],
      "id": "1c531807-cdc7-4eb0-850e-9bf18a19ea97",
      "name": "Compute Execution Metrics"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-created",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "b61baec9-acc5-4ce8-8aad-59c961831030",
      "name": "Ticket Created Trigger",
      "webhookId": "ce7c3eaf-7950-4702-9138-21017b5ee270"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/automation_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  ticket_id: $json.id,\n  latency_ms: $json.latency_ms,\n  execution_finished_at: $json.execution_finished_at,\n  status: \"success\"\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        -176
      ],
      "id": "a1928b6b-a5d1-44be-9d24-aff72bc29ba3",
      "name": "Insert Automation Log",
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "Knvgz3bkwhepZsRn",
          "name": "auth supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "28713006-57fc-43e9-984e-4983f13e9144",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        0
      ],
      "id": "3516177c-f0cb-466a-b9a0-4f8a809214e8",
      "name": "Check Patch Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/automation_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  ticket_id: $json.ticket_id ?? $json.id,\n  status: \"error\",\n  error: JSON.stringify($json),\n  created_at: $now\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        144
      ],
      "id": "14d7ed65-5473-45bd-989a-b5d4d4358d08",
      "name": "Insert Error Log",
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "Knvgz3bkwhepZsRn",
          "name": "auth supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/automation/classify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"title\": \"{{$json.body.title}}\",\n \"description\": \"{{$json.body.description}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        0
      ],
      "id": "b565322f-c40c-4198-a9e6-8a8b2c8034f1",
      "name": "Call Backend Classification"
    }
  ],
  "pinData": {},
  "connections": {
    "Update Ticket (PATCH)": {
      "main": [
        [
          {
            "node": "Check Patch Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Execution Metrics": {
      "main": [
        [
          {
            "node": "Insert Automation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Created Trigger": {
      "main": [
        [
          {
            "node": "Call Backend Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Patch Success": {
      "main": [
        [
          {
            "node": "Compute Execution Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend Classification": {
      "main": [
        [
          {
            "node": "Update Ticket (PATCH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1547f92e-5bd5-4d48-a970-973146d40cb2",
  "meta": {
    "instanceId": "2ff23050cbe6f011dba463f928eea36d3a5e642f735054dc3fd4d1348aac2a24"
  },
  "id": "dLIZ1ViTI0iFREpF",
  "tags": []
}